* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #151515;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main, main .containerChat {
    max-width: 800px;
    max-height: 500px;

    width: 90%;
    height: 100%;
}

main .containerChat {
    display: flex;

    background-color: #212121;

    border-radius: 8px;
}

main .containerData {
    display: none;
    justify-content: center;
    align-items: center;
    
    max-width: 100vw;
    max-height: 100vh;

    width: 100%;
    height: 100%;

    background-color: #00000070;

    position: absolute;
}

main .containerData .containerForm {
    width: 50%;
    height: 50%;

    background-color: #265956;
    box-shadow: 0px 0px 70px 10px rgb(0, 0, 0, .2);

    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

main .containerData img {
    position: absolute;
    top: 0;
    right: 0;

    margin: 20px 20px 0px 0px;

    cursor: pointer;
}

main .containerData .containerForm input, 
main .containerData .containerForm button {
    width: 300px;
    height: 40px;

    border: none;
    border-radius: 5px;

    padding-left: 10px;
}

main .containerData .containerForm input:focus-visible {
    outline: none;
}

main .containerData .containerForm button {
    font-size: 14px;
    font-weight: 600;

    cursor: pointer;

    transition: all .2s ease-in-out;
}

main .containerData .containerForm button:hover {
    color: #fff;
    background-color: #181818;
}

main .containerChat .chats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 230px;
    height: 100%;

    border-right: 1px solid #515151;
}

main #fieldContacts {
    height: 100%;
}

main .containerContact {
    width: 90%;
    /* height: 100%; */

    display: flex;
    align-items: center;
}

main .chats .navbar {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;

    border-bottom: 1px solid #515151;
}

main .chats .navbar h2 {
    color: #fff;
}

main .chats .navbar .btn-add {
    width: 30px;
    height: 30px;

    border: 1px solid black;
    border-radius: 50px;

    font-weight: bold;
    font-size: 20px;

    background-color: #293080;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

main .contact {
    height: 13%;

    margin: 5px;

    display: flex;
    flex-grow: 4;
    align-items: center;
    gap: 20px;

    padding: 0px 15px;

    cursor: pointer;

    border-radius: 5px;
}

main .contact:hover {
    background-color: #313131;
}

main .perfil-image {
    width: 50px;
    height: 50px;

    border-radius: 50px;
}

main .contact-name {
    font-size: 16px;
    color: #fff;
    flex-grow: 3;
}

main .contact-number {
    font-size: 12px;
    letter-spacing: 1px;

    color: #c1c1c1;
}

main .informations {
    flex-grow: 2;
}

main .actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .actions .delete {
    background: no-repeat center / contain url("./assets/images/delete-icon.png");
}

main .actions .edit {
    background: no-repeat center / contain url("./assets/images/edit-icon.png");
}

main .actions .delete, .edit {
    width: 15px;
    height: 15px;
    
    border: none;
    background-color: transparent;
}

main .field-chat {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .field-chat .contact-bar {
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 15px;

    border-bottom: 1px solid #515151;
}

main .field-chat .perfil-image {
    width: 40px;
    height: 40px;
}

main .field-chat .field-typing {
    display: flex;
    align-items: center;
    gap: 10px;

    border-top: 1px solid #515151;
    padding: 12px;
}

main .containerChat .field-chat .field-typing #fieldTyping {
    width: 100%;
    height: 100%;

    padding: 10px;

    border: none;
    border-radius: 5px;

    background-color: #202020;
    color: #c1c1c1;
}

main .field-chat .field-typing #fieldTyping:focus-visible {
    outline: none;
}

main .field-chat .field-typing .btn-send {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;

    border: none;

    cursor: pointer;
}

@media (max-width: 500px) {
    main .containerChat .chats {
        width: 100%;
        border: none;
    }

    main .field-chat {
        width: 100%;
    }

    .back-button {
        width: 30px;
        height: 30px;

        background: no-repeat center / contain url("./assets/images/back-icon.png");
    }
}